.toolbarDiv {
    justify-content: space-around;
}

.formDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartIconDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}